

/* GLOBAL STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: #000 1px dashed;
    outline-offset: 5px;
}
html {
    height: 100%;
    scroll-behavior: smooth;
    font-size: 100%;
}
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;
    color: #000;
}
img {
    max-width: 100%;
    height: auto;
}
/* CONTAINER SYTLES */
.container {
    width: 100%;
    max-width: 1140px;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-left: auto;
    margin-right: auto;
}

/* HEADER STYLES */
.header {
    padding: 1.5rem 0;
}
.header-container {
    display: flex;
    align-items: center;
}
.header-logo {
    display: inline-block;
    margin-right: 7.156rem;
}
.header-logo-img{
    width: 185px;
    height: 50px;
    display: block;
}
.header-logo-img:hover{
    opacity: 0.8;
}
.header-logo-img:active{
    opacity: 0.6;
}
.header-list {
    display: flex;
    align-items:center;
    list-style: none;
    margin-right: 8.656rem;
}
.header-list-item:not(:last-child) {
    margin-right: 2rem;
}
.header-item-link {
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 2px;
    color:#222;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.header-item-link:hover{
    opacity: 0.6;
}
.header-item-link:active{
    opacity: 0.4;
}
.brown-btn {
    width: 100%;
    max-width: 11.812rem;
    height: 47px;
    background-color: #DE2E54;
    border: none;
    border-radius: 0.5rem;
    display: flex;
    align-items:center;
    justify-content: center;
    font-siz:0.93rem;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
}
.brown-btn:hover{
    background-color: rgb(222, 46, 84, 0.8);
}

/* SITE HERO STYLES */
.site-hero {
    padding: 1.81rem 10.625rem 0 10.625rem;
    background-color: #0EB4C1;
}
.site-hero-container {
    display: flex;
}
.site-hero-text-wrapper {
    width: 650px;
    margin-top: 7.5rem;
    margin-right: auto;
}
.site-hero-text-wrapper-title {
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.25rem;
    line-height: 2.7rem;
    color:#fff;
    margin-bottom: 1rem;

}
.site-hero-text-wrapper-text {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.68rem;
    color:#fff;
    width: 100%;
    max-width: 540px;
    margin-bottom: 3rem;
}
.site-hero-img {
    display: block;
    width: 423px;
    height: 504px;
}

/* MAIN STYLES */
.main {
    padding: 7.5rem 0 ;
    display: flex;
    flex-direction: column;
}
.main-title {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.7rem;
    color:#000;
    font-family: 'Open Sans',sans-serif;
    margin-bottom: 3.5rem;
    text-align: center;
    
}
.main-list {
    width: 100%;
    max-width: 864px;
    margin-left: auto;
    margin-right: auto;
    
  
}
.main-list-item {
    display: flex;
    align-items:center;
    margin-bottom: 3.75rem;
}
.main-item-img {
    width: 200px;
    height: 200px;
    display: block;
    margin-right: 4rem;
}
.main-item-text-wrapper {
    width: 100%;
    max-width: 600px;
}
.main-item-title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.75rem;
    color:#222;
    margin-bottom: 1.5rem;
}
.main-item-text {
    color:#444;
}
.main-btn{
    margin-left: auto;
    margin-right: auto;
}

/* REGISTRATION STYLES */
.registration {
    padding: 4rem 0;
    background-color: #0EB4C1;
}
.registration-container{
    display: flex;
    flex-direction: column;
    align-items:center;

}
.registration-title {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.7rem;
    color:#fff;
    margin-bottom: 3.43rem;
}
.registration-box{
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;


}
.registration-btn {
    padding: 0.75rem 1.5rem;
    border:2px solid #fff;
    border-radius:0.5rem;
    display: inline-block;
    color:#fff;
    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}
.registration-btn:hover{
    background-color:#DE2E54;
}

/*FOOTER STYLES  */
.footer{
    background-color:#222;
}
.footer-logo{
    margin-right: auto;
}
.footer-item-link{
    color:#fff;
}




/* RESPONSIVE */
@media (max-width: 1200px) {
    .header-list{
        display: none;
    }
    .site-hero{
        padding-bottom: 120px;
    }
    .site-hero-img{
        display: none;
    }
    .registration-box{
        display: flex;
        flex-direction: column;
    }
    .registration-btn{
        text-align: center;
        margin-bottom: 10px;
    }

}
@media (max-width: 992px) {
   

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}